.App {
  background-color: #8fc5a2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

img {
  vertical-align: middle;
}

.tererun-icon-wrapper img {
  height: 180px;
}

.tererun-no-eyes-icon {
  position: absolute;
}

.tererun-animated-eyes {
  position: relative;
}

.navigation-icon-button-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 28px;
  margin: 16px;
}

.navigation-icon-button-wrapper svg {
  vertical-align: middle;
}